<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thanh toán</title>
</head>
<body>
<h1>Thông tin thanh toán</h1>
<div>
    <p>Thông tin đơn hàng: <span th:text="${data}"></span></p>
    <p>Danh sách chi nhánh: <span th:text="${listBranch}"></span></p>
</div>

<h2>Chọn phương thức thanh toán</h2>
<form action="/api/payment/create_payment" method="get">
    <label for="cost">Số tiền:</label>
    <input type="number" name="cost" id="cost" value="100000" />
    <input type="hidden" name="data" th:value="${data}" />
    <input type="hidden" name="listBranch" th:value="${listBranch}" />

    <h3>Phương thức thanh toán:</h3>
    <div>
        <ul>
            <li th:each="payMethod : ${payMethods}">
                <input type="radio" th:id="'payMethod_' + ${payMethod.idPayMethod}" th:value="${payMethod.idPayMethod}" name="payMethod" />
                <label th:for="'payMethod_' + ${payMethod.idPayMethod}" th:text="${payMethod.name}"></label>
            </li>
        </ul>
    </div>
    <button type="submit">Thanh toán</button>
</form>
</body>
</html>
