<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="sidebar">
		<nav class="sidebar sidebar-offcanvas" id="sidebar">
			<ul class="nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/shipper/thongke}"> <i
							class="icon-layout menu-icon"></i>
						<span class="menu-title">Thống kê</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/shipper/listPacel}"> <i
							class="icon-layout menu-icon"></i>
						<span class="menu-title">Quản lí đơn hàng</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>