<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1AnmBVMAMRwxlL1W4/c6Uqftc6KXKoLwlj51q6WRR+8TxzT/6d4" crossorigin="anonymous">
    <title>List Category</title>
</head>
<body>
    <div class="container mt-4">
        <!-- Hiển thị thông báo -->
        <div th:if="${message != null}" class="alert alert-primary">
            <i th:text="${message}"></i>
        </div>
        
        <!-- Danh sách User -->
        <div class="card">
            <div class="card-header">List User</div>
            <div class="card-body">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th> ID</th>
                            <th> Email</th>
                            <th>Full Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="user : ${listUser}">
                            <td th:text="${user.userId}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.fullname}"></td>
                            <td>
                                <a th:href="@{/admin/users/view/{userId}(userId=${user.userId})}" class="btn btn-outline-info">
                                    <i class="fa fa-info"></i>
                                </a>
                                <a th:href="@{/admin/users/edit/{userEmail}(userEmail=${user.email})}" class="btn btn-outline-warning">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a th:href="@{/admin/users/delete/{userFullname}(userFullname=${user.fullname})}" class="btn btn-outline-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
