<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<div th:fragment="sidebar">
		<nav class="sidebar sidebar-offcanvas" id="sidebar">
			<ul class="nav">

				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/dashboard}"> <i
						class="icon-bar-graph menu-icon"></i> <span class="menu-title">Tổng
							quan</span>
				</a></li>
				
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/revenue}"> <i
						class="fa fa-dollar"></i> <span class="menu-title" style="padding-left:18px;">Quản lý doanh thu</span>
				</a></li>
				
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/transaction}"> <i
						class="fa fa-bank"></i> <span class="menu-title" style="padding-left:18px;">Quản lý giao dịch</span>
				</a></li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/offices}"> <i class="fa fa-building"></i>
						<span class="menu-title" style="padding-left:18px;">Quản lý bưu cục</span>
				</a></li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/payments}"> <i class="fa fa-credit-card"></i>
						<span class="menu-title" style="padding-left:18px;">Quản lý thanh toán</span>
				</a></li>
				
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/employees}"> <i class="fa fa-briefcase"></i>
						<span class="menu-title" style="padding-left:18px;">Quản lý nhân viên</span>
				</a></li>
				
				<li class="nav-item"><a class="nav-link"
					th:href="@{/admin/users}"> <i class="fa fa-user"></i>
						<span class="menu-title" style="padding-left:18px;">Quản lý khách hàng</span>
				</a></li>
			</ul>
		</nav>
	</div>
</body>