<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout-admin.html}">

<body>
<section class="row" layout:fragment="content">
	<h1>content của admin</h1>
	<label>
		<input type="radio" name="option" value="option1"> Option 1
	</label><br>
	<label>
		<input type="radio" name="option" value="option2"> Option 2
	</label><br>
	<label>
		<input type="radio" name="option" value="option3"> Option 3
	</label>


</section>
</body>

</html>