<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class = "container">
        <h3>Tạo User</h3>
        <hr/>
    <form action="#" th:action ="@{/users/save}" th:object = "${User}" method="post">
        <input type="email" th:field = "*{email}" placeholder="nhập email" class = "form-control w-30 mb-3"/>
        <input type="password" th:field = "*{password}" placeholder="nhập password" class = "form-control mb-3"/>
        <input type="password" th:field = "*{rePassword}" placeholder="nhập lại password" class = "form-control mb-3"/>
        <input type="text" th:field = "*{fullName}" placeholder="Họ và tên" class = "form-control w-30 mb-3"/>
        <input type="tel" th:field = "*{phone}" placeholder="Số điện thoại" class = "form-control w-30 mb-3"/>
        <input type="text" th:field = "*{images}" placeholder="images" class = "form-control w-30 mb-3" />
        <input type="text" th:field = "*{address}" placeholder="nhập địa chỉ" class = "form-control w-30 mb-3"/>
        <input type="text" th:field = "*{status}" placeholder="status" class = "form-control w-30 mb-3"/>
        <button type="submit" class = "btn btn-success col-2"> Lưu  </button>
    </form>
    </div>
</body>
</html>


